<h1>GraphFinder REST service</h1>
<h2>Usage</h2>

Post your annotation data as follows
<pre>
curl -H "Content-Type:application/json" -d '{"template":{}, "disambiguation":{}}' http://server.domain/okbqa/queries
</pre>

You will get an array of SPARQL queries representing the template and disambiguation.</li>
